*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: powderblue;
}

.skeleton{
    animation: container1-loading 1s linear infinite alternate;
    opacity: .7;
}
.skeleton-text{
    animation: container1-loading 1s linear infinite alternate;
    opacity: .7;
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child{
    margin-bottom: 0;
    width: 80%;
}

@keyframes container1-loading{
    0%{
        background-color: hsl(198, 15%, 17%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

.nav{
    background-color: powderblue;
    padding: 10px;
    top: 0;
    box-shadow: 1.2em 1em 1em rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto auto;
    gap: 4em;
    width: 100%;
    position: sticky;
    top: 0;
}
.movie-cards{
    text-align: center;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.container1{
    text-align: center;
    display: flex;
    box-shadow:1.2em 1em 1em rgba(0, 0, 0, 0.1);
    background-color: rgb(164, 187, 190);
    padding:1em 1.8em;
    margin: 10px;
    width: 90vw;
    border-radius: 0.6em;
    gap: 4em;
}
.container2{
    box-shadow:1.2em 1em 1em rgba(0, 0, 0, 0.1);
    background-color: rgb(106, 142, 148);
    padding:3em 1.8em;
    width: 90vw;
    max-width: 37.5em;
    border-radius: 0.6em;
    height: 100%;
}

.container{
    box-shadow:1.2em 1em 1em rgba(0, 0, 0, 0.1);
    background-color:powderblue;
    height: 16em;
    width: 10em;
    border-radius: 0.6em;
    padding: 10px;
    display: grid;
    
}
.movie-img{
    height:10em;
    width: 100%;
    border-radius: 5px;
}
.movie-title{
    cursor: pointer;
}
.search-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
    
}
.search-container input,
.search-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}
.search-container input{
    background-color: transparent;
    border: 1px solid black;
    padding-left: 0.7em;
    font:black;
}
.search-container button{
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.info{
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
}
.poster{
    width: 100%;
    height: 100%;
}
h2{
    text-align: center;
    font-size: 1.5em;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.6em;
    margin: 0.6em 0 0.9em 0;
}
.rating img{
    width:1.5em;
}
.back-img{
    width:1.5em;
}
.rating h4{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}
.details{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    color: rgb(73, 69, 69);
    margin: 0.6em 0;
    font-weight: 300;
}
.genre{
    display: flex;
    justify-content: space-around;
}
.back{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    float: left;
}
.genre div{
    border: 1px solid rgb(73, 69, 69);
    font-size: 0.73em;
    padding: 0.4em 1.6em;
    font-weight: 300;
}
h3{
    font-weight: 500;
    margin-top: 1.2em;
}
p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: rgb(73, 69, 69);

}
.msg{
    text-align: center;
}
.hide{
    display: none;
}
.footer{
    padding: 10px;
    display: grid;
    margin-top: 30px;
    background-color: rgb(106, 142, 148);
}

@media screen and (max-width:900px) {
    .container1{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .cartigory{
        top:15%;
        right: -50%;
    }
    
}
